In [15]:
import pandas as pd
import os

In [16]:
data_path = '../raw_data'

In [17]:
music_meta = os.path.join(data_path,'music_meta')
user_profile = os.path.join(data_path,'user_profile.data')
user_watch_pref = os.path.join(data_path,'user_watch_pref.sml')
print(music_meta)
print(user_profile)
print(user_watch_pref)

../raw_data\music_meta
../raw_data\user_profile.data
../raw_data\user_watch_pref.sml

In [18]:
df_music_meta = pd.read_csv(music_meta,sep='\001', nrows=10,
                            names=['item_id', 'item_name', 'desc', 'total_timelen', 'location', 'tags'])
df_music_meta.head()

,item_id,item_name,desc,total_timelen,location,tags
0,93709100,韩国少女时代最新回归新专主打《I GOT A BOY》,韩国少女时代最新回归新专主打《I GOT A BOY》,304,NaN,"少女时代,鹿晗,韩国,exo综艺,最新回归,exo快乐大本营,吴世勋,fx组合,音悦台"
1,102209100,韩国张力尹携手EXO成员CHEN《呼吸》中文版,韩国张力尹携手EXO成员CHEN《呼吸》中文版,274,NaN,"CHEN,少女时代,呼吸,鹿晗,张力尹,韩国,EXO成员,EXO,宋茜,音悦台"
2,29900100,徐颢菲《猫的借口》,NaN,284,国内,NaN
3,368709100,美女翻唱 别问我是谁,美女翻唱 别问我是谁,288,NaN,"流行歌曲,翻唱,网络歌曲,美女,舞曲,社会"
4,603409100,"龙梅子,老猫 老爸老爸你好吗","龙梅子,老猫 老爸老爸你好吗",259,NaN,"你好吗,龙梅子,老猫,老爸老爸"

In [10]:
df_user_profile = pd.read_csv(user_profile,sep=',',nrows=10,
                            names=['user_id','gender','age','salary','province'])
df_user_profile.head()

                            user_id gender     age        salary province
0  00ea9a2fe9c6810aab440c4d8c050000      女   26-35  20000-100000       江苏
1  01a0ae50fd4b9ef6ed04c22a7e421000      女   36-45        0-2000       河北
2  002db7d2360562dd16828c4b91402000      女  46-100    5000-10000       云南
3  006a184749e3b3eb83e9eb516d522000      男   36-45     2000-5000       天津
4  00de61c1d635ad964eef2aefa8292000      女   19-25     2000-5000      内蒙古

In [22]:
df_user_watch = pd.read_csv(user_watch_pref,sep='\001',
                            names=['user_id','item_id','stay_seconds','hour'])
df_user_watch.head()

                            user_id     item_id  stay_seconds  hour
0  01e069ed67600f1914e64c0fe7730944  4090309101            15    19
1  01d86fc1401b283d5828c293be290e08  6192809101            75    12
2  002f4b9c49be9a0b2c13e1c3c4f6a21c  8915109101           385    18
3  01e3fdf415107cd6046a07481fbed499  6470209102          1635    21
4  01e3fdf415107cd6046a07481fbed499  6470209102           555    16

In [14]:
df_music_meta = df_music_meta.fillna('-')
del df_music_meta['desc']
df_music_meta.head()

,item_id,item_name,total_timelen,location,tags
0,93709100,韩国少女时代最新回归新专主打《I GOT A BOY》,304,-,"少女时代,鹿晗,韩国,exo综艺,最新回归,exo快乐大本营,吴世勋,fx组合,音悦台"
1,102209100,韩国张力尹携手EXO成员CHEN《呼吸》中文版,274,-,"CHEN,少女时代,呼吸,鹿晗,张力尹,韩国,EXO成员,EXO,宋茜,音悦台"
2,29900100,徐颢菲《猫的借口》,284,国内,-
3,368709100,美女翻唱 别问我是谁,288,-,"流行歌曲,翻唱,网络歌曲,美女,舞曲,社会"
4,603409100,"龙梅子,老猫 老爸老爸你好吗",259,-,"你好吗,龙梅子,老猫,老爸老爸"

In [28]:
df_cnt = df_user_watch.groupby(['user_id','item_id'])['stay_seconds'].count().reset_index()
df_cnt.columns = ['user_id','item_id','cnt']
df_cnt.sort('cnt',ascending=False).head(10)

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

                                 user_id    item_id   cnt
113568  00e5b556c5fda7a1b247bd78d69595fa  673600354  3922
226458  01c692ac26d813dba9607a7f96b7e415   68800255   313
223924  01c17beaefa995baf12433acbda093cc  945800328   239
59783   00775f1bad5eba86ed5631645adb7212  130400221   233
30433   003b69052af5d0d5aba2579805bb5172  910600254   229
168988  0154fbc6fab402e1bfcde162645c2a05  701600213   221
161943  01468969eabf2b347ddd967026bfd441  923800355   185
43785   0056fd47e3452f7932b706795545be24   68800255   167
152483  0133bebca60bb55a19b45772fec80bae  955000334   127
36356   00478d526c48a8262bf87610764d44ac  923700244   127